* {
    justify-content: center;
    text-decoration: none;
}

.highlight {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B8B8B8;
}

.highlight-post {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #B8B8B8;
}

.highlight-title {
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.highlight-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #202833;
}

.highlight-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.highlight-body {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.highlight-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #202833;
}

.post {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #B8B8B8;
    display: flex;
    align-items: center;
}

.post-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.post-details {
    flex-grow: 1;
}

.post-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.post-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #202833;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #202833;
}
