.navbar {
  width: 100%;
  height: 124px;
  background-color: #0B0C10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar__text {
  color: #66FCF1;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: left;
}

.navbar__right {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 30px; /* Centralizar verticalmente os botões */
}

.navbar__link {
  text-decoration: none;
}

.navbar__button {
  width: auto; /* Remova a largura fixa */
  height: 56px;
  padding: 14px 27px;
  background: #202833;
  color: white;
  border: none;
  font-size: 19px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}

.navbar__button--login {
  background: #202833; 
}

.navbar__button--signup {
  color: #46A29F;
  background: none;
  border: 1px solid #46A29F;
  padding: 14px 20px; /* Ajuste o padding conforme necessário */
}

.navbar__button--posts {
  color: #46A29F;
  background: none;
  border: 1px solid #46A29F;
}
