.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}
.highlight {
    background-color: #C5C6C8;
    width: 100%;
    text-align: center;
    align-items: center;
}
.post-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #202833;
}
.description-titlepost{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;

}
.img-highlight {
    width: 1192px;
    height: 357.08px;
    top: 354.18px;
    left: 124px;
    gap: 0px;
    opacity: 0px;
}

.img-highlight-description {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
}
.description-information {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}
header ul li {
    display:flex;
    list-style: none;
}

li {
    list-style: none;
}
.login-page {
    background-color: #C5C6C8;
    width: 100%;
    color: #202833;
    text-align: center;
    align-items: center;
    min-height: 500px;
    height: auto;
    justify-items: center;
}
.box {
    height: auto;
    width: auto;
    min-width: 500px;
    align-items: center;
    text-align: center;
    box-align: center;
    justify-items: center;
}